<h1>This is todo page</h1>
<!-- 
<ul>
    <li>Item 1</li>
    <li>Item 2</li>
</ul> -->

<ul>
    {% for todo_item in all_items %}
        <li>{{ todo_item.content }}&nbsp&nbsp
            <form action="/deleteTodo/{{ todo_item.id }}/" style="display:inline" method="POST">{% csrf_token %}
                <input type="submit" value="Delete"/>
            </form>
        </li><br/>
    {% endfor %}
</ul>

<form action="/addTodo/" method="POST">
    {% csrf_token %}
    <input type="text" name="item"/>
    <input type="submit" value="Add" />
</form>